.advantages__card {
  text-align: start;

  display: grid;
  grid-template-columns: 56px 1fr;
  padding: 20px;

  gap: 4px 20px;
}

figure {
  margin: 0;
  padding: 0;
}

.advantages__item h1 {
  grid-column: 2;
  grid-row: 2;
}

.advantages__description {
  font-size: 18px;
  grid-column: span 2;
  padding: 0 7px 0 0;
  margin: 16px 0 0;
}
